@page
@model WorkWise.Pages.KabinetModel
@{
    Layout = null;

}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/Kabinet.css">
</head>
<body>
        <nav class="sidebar">
            <a href="/Index" class="logo">WorkWise</a>
            <div class="menu-content">
                <ul class="menu-items">
                    <div class="menu-title">Menu</div>
                    <li class="item">
                        <a href="#" id="home">Home</a>
                    </li>
                    <li class="item">
                        <a href="#" id="profile">My Profile</a>
                    </li>
                    <li class="item">
                        <a href="#">Feedback</a>
                    </li>
                    <li class="item">
                        <a href="#">Exit</a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar">
            <i class="fa-solid fa-bars" id="sidebar-close"></i>
        </nav>
        <main class="main">
            <section id="home-section">
            <h1>Welcome, User!</h1>
            <div class="statistics">
                <div class="card">
                    <h2>Stat 1</h2>
                    <p>Some statistics content here</p>
                </div>
                <div class="card">
                    <h2>Stat 2</h2>
                    <p>Some statistics content here</p>
                </div>
                <div class="card">
                    <h2>Stat 3</h2>
                    <p>Some statistics content here</p>
                </div>
                <div class="card">
                    <p>Це випукла карта</p>
                </div>
             </div>
        </section>
                 

            
        </main>


    <script type="text/javascript">

    </script>

    <script type="text/javascript">     

    </script>

</body>
</html>