@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Havrilyak.LNU.WorkWise.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkWise.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
</head>
<body>
        <div>
            <h1>Info and Feadback</h1>
        <p>
            WorkWise is a modern online service ordering platform that helps clients find the best freelancers and make mutually beneficial deals. The exchange is designed to bring together talented professionals from various industries and provide them with the opportunity to receive a stable flow of orders.
            On WorkWise, freelancers can create their profiles, add portfolios and bid their services. Clients, on the other hand, can view profiles of specialists, contact them, discuss details and make payment for work.
            WorkWise offers several options for cooperation: clients can order services based on a fixed price or use an auction system. In addition, for the convenience of clients and freelancers, the exchange has implemented such additional functions as a message system for discussing projects, a calendar for planning work, as well as tools for tracking progress and evaluating the quality of completed work.
            Due to its ease of use and large number of features, WorkWise has become one of the most popular platforms for freelancing.
        </p>
        </div>
    </body>
</html>

