@page
@model WorkWise.Pages.SearchForEmployerModel
@{
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Havrilyak.LNU.WorkWise.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkWise.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Catalog.css" asp-append-version="true" />

</head>
    <body>
        <div class="row">
            <div class="col">
                <h1>Employers</h1>
            <p>Search orders for freelancers.</p>
            <button onclick="window.location.href='/SearchForFreelancers'" type="button">Go to Freelancer</button>
            </div>
            <div class="col">
                <div class="card-container">
                    <div class="card card1">
                        <h5>Programming</h5>
                        <p>
                        </p>
                    </div>
                    <div class="card card2">
                        <h5>Desing</h5>
                        <p>

                        </p>
                    </div>
                    <div class="card card3">
                        <h5>Finance</h5>
                        <p>
                        </p>
                    </div>
                    <div class="card card4">
                        <h5>Administration</h5>
                        <p>
                        </p>
                    </div>
                    <div class="card card5">
                        <h5>Legal</h5>
                        <p>
                        </p>
                    </div>
                    <div class="card card6">
                        <h5>Copywriting</h5>
                        <p>
                        </p>
                    </div>
                    <div class="card card7">
                        <h5>Translate</h5>
                        <p>
                        </p>
                    </div>
                    <div class="card card8">
                    <h5>Architect</h5>
                    <p>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>