@page
@model WorkWise.Pages.UserService
@{
    ViewData["Title"] = "Register";

}


<html>
<head lang="en" dir="ltr">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Havrilyak.LNU.WorkWise.Web</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/WorkWise.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Registration.css" asp-append-version="true" />
</head>



<body>
   
  <div class="mainteiner">
    <div class="title">Sign Up</div>
    <div class="content">
            <form method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">NickName*</span>
                        <input type="text" asp-for="Users.Nickname" placeholder="Enter your NickName" required>
                        <span asp-validation-for="Users.Nickname" class="error"></span>
          </div>
          <div class="input-box">
            <span class="details">Email*</span>
                        <input asp-for="Users.Email" type="text" placeholder="Enter your email" required>
                        <span asp-validation-for="Users.Email" class="error"></span>
          </div>
          <div class="input-box">
            <span class="details">Password*</span>
                        <input type="text" asp-for="Users.Password" placeholder="Enter your password" required>
                        <span asp-validation-for="Users.Password" class="error"></span>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password*</span>
                        <input asp-for="Users.ConfirmPassword" type="text" placeholder="Confirm your password" required>
                        <span asp-validation-for="Users.ConfirmPassword" class="error"></span>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
                <div class="signup">
                    <span class="signup">
                         Have an account?
                        <a href="/SingIN">SignUp</a>

                    </span>
                </div>
      </form>
    </div>
  </div>
</body>
</html>