<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/5c49a826-7b9c-498f-9f5e-1b08f1c8155a/resourcegroups/WorkWise/providers/Microsoft.ContainerRegistry/registries/WorkWiseDatabase20230510105147</ResourceId>
    <ResourceName>WorkWiseDatabase20230510105147</ResourceName>
    <ResourceGroup>WorkWise</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>workwisedatabase20230510105147.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>