/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(200deg, #f0cc8d 0, #f4c589 6.25%, #f8be85 12.5%, #fbb582 18.75%, #fdab7f 25%, #fea17c 31.25%, #fe957b 37.5%, #fd887a 43.75%, #fa7a7a 50%, #f66c7c 56.25%, #f15f80 62.5%, #eb5386 68.75%, #e44a8e 75%, #db4396 81.25%, #d140a0 87.5%, #c540ab 93.75%, #b643b6 100%);
}

.montainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    font-family: 'Montserrat', sans-serif;
}

    .montainer .registration {
        display: none;
    }

h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

#check:checked ~ .registration {
    display: block;
}

#check:checked ~ .login {
    display: none;
}

#check {
    display: none;
}

.montainer .form {
    padding: 2rem;
}

.form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
}


.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

    .form input:focus {
        box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    }

.form a {
    font-size: 16px;
    color: #009579;
    text-decoration: none;
}

    .form a:hover {
        text-decoration: underline;
    }

.form input.button {
    color: #fff;
    background-image: linear-gradient(165deg, #ffb897 0, #ffa991 16.67%, #ff9587 33.33%, #fa7a7a 50%, #e95f6f 66.67%, #db486a 83.33%, #d1386b 100%);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}

    .form input.button:hover {
        background-image: linear-gradient(165deg, #ffb897 0, #ffa991 16.67%, #ff9587 33.33%, #fa7a7a 50%, #e95f6f 66.67%, #db486a 83.33%, #d1386b 100%);
    }

.signup {
    font-size: 17px;
    text-align: center;
}

    .signup label {
        color: #009579;
        cursor: pointer;
    }

        .signup label:hover {
            text-decoration: underline;
        }
