*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle at 100.64% 50%, #0056cf 0, #0055da 6.25%, #0053e1 12.5%, #004fe5 18.75%, #004ae5 25%, #0043e2 31.25%, #0039db 37.5%, #002ad1 43.75%, #0f0fc4 50%, #5900b4 56.25%, #7900a3 62.5%, #90008f 68.75%, #a0007b 75%, #ab0066 81.25%, #b20051 87.5%, #b6003c 93.75%, #b60029 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

.content {
    margin-top: 350px;
    width: 100%;
    position: center;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;

}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}