.montainer {
    margin-top: 40px;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.mainbar {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

    h1 span {
        font-weight: normal;
    }

.sort select {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
}

.job-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.job-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

    .job-card-header h2 {
        font-size: 24px;
        font-weight: bold;
    }

.job-card-price {
    font-size: 24px;
    font-weight: bold;
    color: green;
}

.job-card-description {
    font-size: 18px;
    margin-bottom: 10px;
}

.job-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.job-card-employer {
    font-size: 16px;
    font-style: italic;
}

.job-card-btn {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .job-card-btn:hover {
        background-color: #fff;
        color: green;
        border: 2px solid green;
    }

