@{
    ViewData["Title"] = "Privacy Policy";
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Havrilyak.LNU.WorkWise.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AuthSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

</head>
<body>
    <section class="about">
        <div class="main">
            <img src="/image/image_about/About1.png" />
            <div class="about-text">
                <h1>About Us</h1>
                <h5>About WorkWise</h5>
                <p>
                    WorkWise is a platform for freelancers and clients that allows them to find one and interact by posting projects and offers on them.
                    Users can create profiles, add portfolios and describe their skills to attract the attention of customers.
                    The rating and feedback system allows customers and freelancers to mutually evaluate each other and ensures high quality of project execution.
                    In addition, on WorkWise there is an opportunity to communicate between customers and freelancers, discuss projects and solve issues in real time.
                </p>
                <h5>About  me</h5>
                <p>First Name: Ruslan</p>
                <p>Last Name: Havrilyak</p>
                <p>Project: WorkWise</p>
                <p>
                    Telegram:
                    <a href="https://t.me/a_le_mong">@@a_le_mong</a>
                </p>
                <p>Email: game.master.kvx@gmail.com</p>
                <p>
                    Git Repository:
                    <a href="https://github.com/Gavruk12345/Havrilyak.University.WorkWise">@@my_repositories</a>
                </p>
                
            </div>
        </div>
    </section>
</body>
</html>
