@page
@model WorkWise.Pages.EmployersJob.JobModel
@{
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Havrilyak.LNU.WorkWise.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkWise.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Job.css" asp-append-version="true" />

</head>

<body>
    <div class="job-card">
        <h1 class="job-title">Creating a Logo for a Company</h1>
        <p class="client-name">Bob</p>
        <div class="job-description">
            <h2>Description:</h2>
            <p>Company BBB requires a new logo that reflects its brand and values. The logo should be attractive, modern, and aligned with the company's atmosphere. It is necessary to create the logo design and provide it in a vector format.</p>
        </div>
        <div class="requirements">
            <h2>Requirements:</h2>
            <ul>
                <li>Creative thinking and ability for innovative design</li>
                <li>Proficiency in graphic editing software (Adobe Illustrator, Photoshop, etc.)</li>
                <li>Experience in logo and brand creation is a plus</li>
            </ul>
        </div>
        <div class="timeline">
            <h2>Timeline:</h2>
            <p>7 days</p>
        </div>
        <div class="price">
            <h2>Price:</h2>
            <p>$500</p>
        </div>
        <div class="buttons">
            <button class="action-btn">Add to bookmarks</button>
            <button class="action-btn">Take the job</button>
            <button class="action-btn">Contact the client</button>
        </div>
    </div>
</body>
</html>
