@page
@model WorkWise.Pages.PageFreelancer.IndModel
@{
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Havrilyak.LNU.WorkWise.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorkWise.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ild.css" asp-append-version="true" />

</head>
<body>

    <div class="freelancers-container">
        <div class="freelancer">
            <img src="path/to/freelancer-1.jpg" alt="Freelancer 1">
            <h2>Ім'я Фрілансера 1</h2>
            <p>Опис Фрілансера 1</p>
        </div>
        <div class="freelancer">
            <img src="path/to/freelancer-2.jpg" alt="Freelancer 2">
            <h2>Ім'я Фрілансера 2</h2>
            <p>Опис Фрілансера 2</p>
        </div>
        <!-- Додайте більше фрілансерів, якщо потрібно -->
    </div>

</body>
</html>